.trip-list-item
  .trip-list-entry
    .grid-layout
      .trip-list-entry-item
        %h3.text-center= trip.start_time_to_s
      .trip-list-entry-item
        %h3.text-center= trip.schedule_type_to_s