%h2 Welcome to BayCrosser
%p BayCrosser is a minimal web app for accessing up-to-date ACTransit Transbay Bus Schedules for the San Francisco, Bay Area
%h2 About
%p 
  Baycrosser was developed by Sanjay Patel to demonstrate the 
  =link_to "actransit_rails gem.", "https://rubygems.org/gems/actransit_rails/versions/0.2.0"