/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$link-color: white;

/*************************
  GRID SETTINGS
*************************/
* {
  color: white;
}
.grid-layout {
  @extend .row;
}
.full-length-item {
  @extend .col-sm-12;
}
.stop-list-entry{
  @extend .row;
  border: 2px white solid;
  padding: 0 0 1em 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 5px lightgrey;
}
.button {
  @extend .btn;
  @extend .btn-default;
}
a {
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color;
}
.text-label{
  font-size: 1.25em;
  font-style: italic;
}
body {
  background: darkblue;
  // background: linear-gradient(to bottom, #526791 0%,#c96c6c 50%,#f2cb82 100%);
  background: linear-gradient(to bottom, #526791 0%,#c63939 50%,#ce6335 100%);
}
header {
  padding: 0;
  color: white;
  margin: 0;
  h1 {
    font-size: 5em;
    text-align: center;
    margin: 0.5em 0;
    a {
      color: $link-color;
    }
    a:hover {
      text-decoration: none;
      color: $link-color;
    }
  }
}
h2 {
  font-size: 4em;
  margin: 0.5em 0;
}
.container {
  margin-bottom: 1em;
  padding: 0 4em;
  p {
    font-size: 2em;
  }
}
.navigation-buttons {
  margin: 0 auto;
  width: 10px;
}
.all-routes-link {
  font-size: 4em;
  text-align: center;
  margin: 0.5em 25% 0.5em 25%;
  border: 2px white solid;
  a {
    color: $link-color;
  }
  a:hover {
    text-decoration: none;
    color: $link-color;
  }
}
.bus-route-list-entry {
  @extend .row;
  border: 2px white solid;
  margin-bottom: 1.5em;
}
.route-name-box {
  @extend .col-sm-2;
}
.route-name{
  font-size: 3em;
  padding: 0.5em 0;
  text-align: center;
}
.direction-a-box {
  @extend .col-sm-7;
}
.direction-b-box {
  @extend .col-sm-3;
}
.direction-button{
  font-size: 3em;
  padding: 0.5em 0;
  text-align: center;
}
.trip-list-entry{
  @extend .row;
  border: 2px white solid;
  margin-bottom: 1.5em;
}
.start-time-box {
  @extend .col-sm-4;
}
.start-time {
  font-size: 3em;
  padding: 0.5em 0;
  text-align: center;
}
.trip-direction-box{
  @extend .col-sm-6;
}
.trip-direction {
  font-size: 3em;
  padding: 0.5em 0;
  text-align: center;
}
.schedule-type-box {
  @extend .col-sm-2;
}
.schedule-type {
  font-size: 3em;
  padding: 0.5em 0;
  text-align: center;
}