/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$link-color: white;

/*************************
  GRID SETTINGS
*************************/
.stops-list,
.grid-layout {
  @extend .row;
}
.grid-item {
  @extend .col-lg-3;
  @extend .col-md-6;
}
.one-per-line-centered {
  @extend .col-lg-6;
  @extend .col-lg-offset-3;
}
.trip-list-item{
  @extend .col-lg-3;
  @extend .col-md-4;
  @extend .col-sm-6;
}
.trip-list-entry-item{
  @extend .col-xs-6;
}
.stop-list-entry,
.bus-route-list-entry {
  border: 1px lightgrey solid;
  border-radius: 0.5em;
  padding: 0 0 1em 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 5px lightgrey;
}
.trip-list-entry{
  border: 1px lightgrey solid;
  border-radius: 0.5em;
  padding: 0 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 5px lightgrey;
}
.button {
  @extend .btn;
  @extend .btn-default;
}

.text-label{
  font-size: 1.25em;
  font-style: italic;
}
body {
  background: darkblue;
  background: linear-gradient(to bottom, #526791 0%,#c96c6c 50%,#f2cb82 100%);
}
header {
  padding: 4em 0;
  color: white;
  h1 {
    text-align: center;
    margin-bottom: 1em;
    a {
      color: $link-color;
    }
    a:hover {
      text-decoration: none;
      color: $link-color;
    }
  }
}
h2 {
  margin-bottom: 1em;
}
.container {
  background: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.navigation-buttons {
  margin: 0 auto;
  width: 100px;
}
.direction-buttons {
  margin: 0 auto;
  width: 100%;
  padding: 0.5em 1 0 1em;
}